.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #91b0dd; }

  body {
    background-color: #181886; }

  #content {
    background-color: #5572bc;
    border-color: #000000;}
  
  #pseudocode { 
    width: 210x;
    height: auto;}
  
  #javascript_html{
    width: 210px;
    height: auto;}

  #javascript  {
    width: 210px;
    height: auto;}