.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #ffa200;
   }
  
  body{
    border: none;
  }
    
    #content {
      background-color: #ffa200;
      padding: 10px;
      border:none; }

      p{ 
        font-size: 25px; }

      