.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 5px #000000;
  background-color: #d6d43d; }

body {
  background-color: #ea7c15; }

#content {
  background-color: #ebb062;
  border-color: #000000;}

.special {
  background-color: rgb(150, 169, 219);
  border: dotted 10px rgb(55, 0, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
}