.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #000000;
  background-color: #d6d43d; }

body {
  background-color: #ead115; }

#content {
  background-color: #557bbc;
  border-color: #000000;}