.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #000000;
  background-color: #efb6b6; }

body {
  background-color: #800000; }

#content {
  background-color: #c81616;
  border-color: #000000;}
  
  .lab_js {
    width: 150px;
    height: auto;
  }