.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 5px #000000;
  background-color: #365f38; }

body {
  background-color:#023418; }

#content {
  background-color:#023418;
  border-color: #000000;}
#Woodpecker {
width: 500px;
height: auto;
}