.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: dotted 5px #000000;
  background-color: #71bbf7; }

body {
  background-color: #653d6f; }

#content {
  background-color: #0a4270;
  border-color: #000000;}


