H1{
  color:black;
  font-size: 200%;
}

p{
  margin-bottom: 10px;
  border: solid 2px #000000;
  background-color: #ffc35b;
  text-indent: 20px;
  position: left;}

 #content {
  background-color: #ffa200;
  padding: 10px;}
 
 body{
  background-color: #ffa200;
  border: none;}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #ffc35b;}

#Garfield {
width: 30%;
height: auto;
border: bold 10px #000000;
float: right;
}

