.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #000000;
  background-color: #99afe5; }

body {
  background-color: #003a80; }

#content {
  background-color: #557bbc;
  border-color: #000000;}