.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #000000;
  background-color: #9195dd; }

body {
  background-color: #420080; }

#content {
  background-color: #6a55bc;
  border-color: #000000;}